# Node.js/Backend
Backend/node_modules
Backend/.env
Backend/.env.production

# React/Frontend
frontend/node_modules
frontend/build
frontend/.env
frontend/.env.production

# General
*.log
.DS_Store
.env*
