# Ignore backend secrets
Backend/.env
Backend/.env.production

# Ignore frontend env files
frontend/.env
frontend/.env.production

# Ignore node_modules everywhere
Backend/node_modules
frontend/node_modules

# Ignore build output
frontend/build

# General ignores
*.log
